/* RESET */

* {
    border: 0;
    padding: 0;
    margin: 0;
}

/* END RESET */
/* GLOBAL CSS */
button:hover {
    cursor: pointer;
}

section {
  padding:8px;
  min-height: 100vh;
}
/* END GLOBAL */


html, body{
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.landingpage {
  width: 100%;
  height: 100%;
  background: linear-gradient(red,yellow);
}

.landingpage header{
  font-size: 15vw;
  margin: auto;

}

.landingpage article{
  position: absolute;
  font-size: 5vw;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

#main-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #cfd8dc;
    display: none;
}

ul {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    list-style-type: none;
}

nav li {
    text-align: center;
    margin: 5vh 0;
}

nav li a {
    font: 40px 'Roboto', sans-serif;
    text-decoration: none;
    color: #03526F;
}
/* -------------------------------------------- */

#nav-button {
    position: fixed;
    right: 16px;
    top: 0;
    font-size: 50px;
    color: black;
    z-index: 1;
    background-color: transparent;
}

#team-section h2 {
  text-align: left;
  font-size: 30px;
}

#team-section img {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#team-section p{
  margin-bottom: 35px;
}

#contact-section {
  width: 80%;
  margin: auto;
}

#contact-section form{
  margin: 16px 0;
}



#contact-section input, #contact-section textarea {
  margin: 8px 0;
  border: 1px solid grey;
  padding: 8px;
  width:100%;
  border-radius: 3px;
}

#contact-section .contact-button {
  width:100px;
  background-color: #42AFF5;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;

}


@media (min-width: 480px) { /*--- TABLET AND DESKTOP ---*/

  /*--- Turn mobile nav into a sidebar ---*/
    #main-nav {
        width: 300px;
    }

}
@media (min-width: 1024px) { /*--- DESKTOP ONLY ---*/
    /*--- Make sidebar nav always show ---*/
    #main-nav {
        display: block;
    }
    /*--- Hide mobile/tablet button ---*/
    #nav-button {
        display: none;
    }
    body {
        margin-right: 300px;
    }
}
